body {
  background-color:black;
  color:white;
  font-family:"Arial";
  font-size:x-small;
  text-align:center;
}

a {
  color:white;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

.buttons {
  font-size:x-small;
}

.deadLink {
  color:black;
}

.title {
  font-size:large;
}

.usedTag {
  color:gray;
}

div.admin {
  float:right;
  text-align:right;
}

div.outerContainer, div.innerContainer {
  margin-left:auto;
  margin-right:auto;
}

div.outerContainer {
  width:925px;
}

div.innerContainer, div.pager, div.thumbnails {
  width:525px;
}

div.img, div.menu, div.thumbnails {
  float:left;
}

div.img {
  width:175px;
  height:175px;
}

div.menu {
  width:200px;
}

input {
background-color:black;
color:white;
border-style:none;
font-size:xx-small;
text-align:right;
}
